# 코딩도장 레벨.1
- 링크: [코딩도장 레벨.1](https://codingdojang.com/list/1?sort=level&sort_order=fw)

### Multiples of 3 and 5

10미만의 자연수에서 3과 5의 배수를 구하면 3,5,6,9이다.   
이들의 총합은 23이다.  
1000미만의 자연수에서 3,5의 배수의 총합을 구하라.

In [3]:
sum([x for x in range(1000) if not(x%3 and x%5)])

233168

### 탭을 공백 문자로 바꾸기
A씨는 개발된 소스코드를 특정업체에 납품하려고 한다.  
개발된 소스코드들은 탭으로 들여쓰기가 된것, 공백으로 들여쓰기가 된 것들이 섞여 있다고 한다.  
A씨는 탭으로 들여쓰기가 된 모든 소스를 공백 4개로 수정한 후 납품할 예정이다.  
A씨를 도와줄 수 있도록 소스코드내에 사용된 탭(Tab) 문자를 공백 4개(4 space)로 바꾸어 주는 프로그램을 작성하시오.

In [65]:
indentTab2space = lambda x,w: len(x.split())>0 and x[:x.find(x.split()[0])].replace('\t',' '*w)+x[x.find(x.split()[0]):] or ''

In [66]:
print(indentTab2space('\t \tif 조건: print(" 테스트 탭\t테스트 ")', 4))

         if 조건: print(" 테스트 탭	테스트 ")

In [67]:
print(indentTab2space('if 조건: print(" 테스트 탭\t테스트 ")', 4))

if 조건: print(" 테스트 탭	테스트 ")

In [68]:
print(indentTab2space('', 4))

### 게시판 페이징
A씨는 게시판 프로그램을 작성하고 있다.  
A씨는 게시물의 총 건수와 한 페이지에 보여줄 게시물수를 입력으로 주었을 때 총 페이지수를 리턴하는 프로그램이 필요하다고 한다.  

> 입력 : 총건수(m), 한페이지에 보여줄 게시물수(n) (단 n은 1보다 크거나 같다. n >= 1)  
> 출력 : 총페이지수  

A씨가 필요한 프로그램을 작성하시오.

In [69]:
getTotalPageNum = lambda m,n=1: m<1 and 0 or m%n and m//n+1 or m//n

In [70]:
for m,n in [[0,1],[1,1],[2,1],[1,10],[10,10],[11,10]]:
    print(m,n, getTotalPageNum(m,n))

0 1 0
1 1 1
2 1 2
1 10 1
10 10 1
11 10 2

### 사이냅소프트 면접문제
주어진 문자열(공백 없이 쉼표로 구분되어 있음)을 가지고 아래 문제에 대한 프로그램을 작성하세요.  

> 이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌

1. 김씨와 이씨는 각각 몇 명 인가요?  
1. "이재영"이란 이름이 몇 번 반복되나요?  
1. 중복을 제거한 이름을 출력하세요.  
1. 중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.

In [29]:
name = '이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'

cntStartswith = lambda x: sum([n.startswith(x) for n in name.split(',')])
print(f"1. 김씨: {cntStartswith('김')}명, 이씨: {cntStartswith('이')}명")
print(f"2. 이재영: {cntStartswith('이재영')}명")
print(f"3. 중복제거이름: {list(set(name.split(',')))}")
print(f"4. 중복제거이름 오름차순 정렬: {sorted(list(set(name.split(','))))}")

1. 김씨: 2명, 이씨: 6명
2. 이재영: 3명
3. 중복제거이름: ['강상희', '이재영', '박민호', '이유덕', '김재성', '최승혁', '김지완', '이성연', '송정환', '권종표', '전경헌', '박영서']
4. 중복제거이름 오름차순 정렬: ['강상희', '권종표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '최승혁']

### Special Sort
n개의 정수를 가진 배열이 있다. 이 배열은 양의정수와 음의 정수를 모두 가지고 있다.  
이제 당신은 이 배열을 좀 특별한 방법으로 정렬해야 한다.  
정렬이 되고 난 후, 음의 정수는 앞쪽에 양의정수는 뒷쪽에 있어야 한다.  
또한 양의정수와 음의정수의 순서에는 변함이 없어야 한다.  
> 예. -1 1 3 -2 2  
> ans: -1 -2 1 3 2

In [52]:
ex = [-1,1,3,-2,2]
r1, r2 = [], []
_ = [ r1.append(x) if x<0 else r2.append(x) for x in ex ]
print(f"ex: {ex} \t ans: {r1+r2}")

ex: [-1, 1, 3, -2, 2] 	 ans: [-1, -2, 1, 3, 2]

### 피보나치 수열 구하기
피보나치 수열이란, 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후의 항들은 이전의 두 항을 더한 값으로 이루어지는 수열을 말한다.

> 예) 0, 1, 1, 2, 3, 5, 8, 13

인풋을 정수 n으로 받았을때, n 이하까지의 피보나치 수열을 출력하는 프로그램을 작성하세요

In [65]:
def fibo(n): r = [0,1]; [r.append(r[i-2]+r[i-1]) for i in range(2,n)]; return r;
fibo(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 3이 나타나는 시간을 전부 합하면?
디지털 시계에 하루동안(`00:00~23:59`) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?  
디지털 시계는 하루동안 다음과 같이 시:분(`00:00~23:59`)으로 표시됩니다.  

> 00:00 (60초간 표시됨)  
> 00:01   
> 00:02   
> ...  
> 23:59

In [94]:
hasThree = lambda x: f"{x:02}".find('3')>=0
sum([60*60 if hasThree(h) else sum([60 for m in range(60) if hasThree(m)]) for h in range(24)])

29700