# 01. 초보자를 위한 파이썬 300제

---
## 001~010. print 시작하기

### 001. print 기초  
화면에 `Hello World` 문자열을 출력하세요.

In [1]:
print("Hello World");

Hello World

### 002. print 기초  
화면에 `Mary's cosmetics`을 출력하세요. (중간에 '가 있음에 주의하세요)

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

### 003. print 기초  
화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
> 신씨가 소리질렀다. "도둑이야".

In [3]:
print("신씨가 소리질렀다. \"도둑이야\".")
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".
신씨가 소리질렀다. "도둑이야".

### 004. print 기초  
화면에 `C:\Windows`를 출력하세요.

In [4]:
print(r"C:\Windows")
print("C:\\Windows")

C:\Windows
C:\Windows

### 005. print 탭과 줄바꿈  
다음 코드를 실행해보고 `\t`와 `\n`의 역할을 설명해보세요.
> print("안녕하세요.\n만나서\t\t반갑습니다.")

In [5]:
# 줄바꿈(\n), 탭(\t)
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

### 006. print 여러 데이터 출력  
print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
> print ("오늘은", "일요일")

In [6]:
# 오늘은 일요일
print ("오늘은", "일요일")

오늘은 일요일

### 007. print 기초  
print() 함수를 사용하여 다음과 같이 출력하세요. (sep 이용)
> naver;kakao;sk;samsung

In [7]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

### 008. print 기초  
print() 함수를 사용하여 다음과 같이 출력하세요.
> naver/kakao/sk/samsung

In [8]:
print("naver", "kakao", "sk", "samsung", sep="\\")

naver\kakao\sk\samsung

### 009. print 줄바꿈  
다음 코드를 수정하여 줄바꿈이 없이 출력하세요.  
(힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.  
> print("first"); print("second")

In [9]:
print("first", end=" "); print("second")

first second

### 010. 연산 결과 출력  
5/3의 결과를 화면에 출력하세요.

In [10]:
print("5/3 =", 5/3)

5/3 = 1.6666666666666667

---
## 011~020. 변수

### 011. 변수 사용하기  
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [11]:
삼성전자 = 50000
print("평가금액:",format(삼성전자*10, ','), "원")
print(f"평가금액: {삼성전자*10 :,} 원")

평가금액: 500,000 원
평가금액: 500,000 원

### 012. 변수 사용하기  
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
|항목|값|
|:--|--:|
|시가총액|298조|
|현재가|50,000원|
|PER|15.79|

In [12]:
시가총액 = 298 * 10**12
현재가 = 50000
PER = 15.79
print(f"시가총액: {시가총액:,} 원 \n현재가: {현재가:,} 원 \nPER: {PER}")

시가총액: 298,000,000,000,000 원
현재가: 50,000 원
PER: 15.79

### 013. 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
> s = "hello"  
> t = "python"  

두 변수를 이용하여 아래와 같이 출력해보세요.  
실행 예:  
> hello! python

In [13]:
s = "hello"
t = "python"
print(s+"!",t)
print(f"{s}! {t}")

hello! python
hello! python

### 014. 파이썬을 이용한 값 계산
아래 코드의 실행 결과를 예상해보세요.  

> 2 + 2 * 3

In [14]:
# 8
print(2 + 2 * 3)

8

### 015. type 함수  
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.  
> a = 128  
> print (type(a))

> <class 'int'>

아래 변수에 바인딩된 값의 타입을 판별해보세요.  
> a = "132"

In [15]:
a = "132"
print(type(a))

<class 'str'>

### 016. 문자열을 정수로 변환  
문자열 '720'를 정수형으로 변환해보세요.  
> num_str = "720"

In [16]:
num_str = "720"
num = int(num_str)
print(type(num))

<class 'int'>

### 017. 정수를 문자열 100으로 변환
정수 100을 문자열 '100'으로 변환해보세요.
> num = 100

In [17]:
num = 100
num_str = str(num)
print(type(num_str))

<class 'str'>

### 018. 문자열을 실수로 변환  
문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [18]:
num_str = "15.79"
num = float(num_str)
print(type(num))

<class 'float'>

### 019. 문자열을 정수로 변환  
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.  
> year = "2020"

In [19]:
year = "2020"
num_year = int(year)
print(num_year-3, num_year-2, num_year-1)

2017 2018 2019

### 020. 파이썬 계산  
에어컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [20]:
price_per_month = 48584
months = 36
print(f"총 금액: {price_per_month * months:,} 원")

총 금액: 1,749,024 원

---
## 021~050. 파이썬 문자열

### 021. 문자열 인덱싱  
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
> letters = 'python'

실행 예:  
> p t

In [21]:
letters = 'python'
print(letters[0], letters[2])

p t

### 022. 문자열 슬라이싱  
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.  
> license_plate = "24가 2210"  
> 실행 예: 2210

In [22]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

### 023. 문자열 인덱싱  
아래의 문자열에서 '홀' 만 출력하세요.  
> string = "홀짝홀짝홀짝"  

실행 예:  
> 홀홀홀

In [23]:
string = "홀짝홀짝홀짝" 
print(string[::2])

홀홀홀

### 024. 문자열 슬라이싱  
문자열을 거꾸로 뒤집어 출력하세요.  
> string = "PYTHON"

실행 예:  
> NOHTYP

In [24]:
string = "PYTHON"
print(string[::-1])

NOHTYP

### 025. 문자열 치환  
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.  
> phone_number = "010-1111-2222"  

실행 예:  
> 010 1111 2222

In [25]:
phone_number = "010-1111-2222"
print(phone_number.replace('-', ' '))

010 1111 2222

### 026. 문자열 다루기  
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.  
실행 예:  
> 01011112222

In [26]:
phone_number = "010-1111-2222"
print(phone_number.replace('-', ''))

01011112222

### 027. 문자열 다루기  
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.  
> url = "http://sharebook.kr"

실행 예: 
> kr

In [27]:
url = "http://sharebook.kr"
print(url.split('.')[-1])

kr

### 028. 문자열은 immutable  
아래 코드의 실행 결과를 예상해보세요.  
> lang = 'python'  
> lang[0] = 'P'  
> print(lang)

In [28]:
# TypeError
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

### 029. replace 메서드  
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.  
> string = 'abcdfe2a354a32a'

실행 예:  
> Abcdfe2A354A32A

In [ ]:
string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

### 030. replace 메서드  
아래 코드의 실행 결과를 예상해보세요.  
> string = 'abcd'  
> string.replace('b', 'B')  
> print(string)

In [ ]:
# abcd (원본변경불가)
string = 'abcd'
string.replace('b', 'B')
print(string)

### 031. 문자열 합치기  
아래 코드의 실행 결과를 예상해보세요.  
> a = "3"  
> b = "4"  
> print(a + b)

In [ ]:
# "34"
a = "3"
b = "4"
print(a + b)

### 032. 문자열 곱하기  
아래 코드의 실행 결과를 예상해보세요.  
> print("Hi" * 3)

In [ ]:
# HiHiHi
print("Hi" * 3)

### 033. 문자열 곱하기  
화면에 `'-'를 80개` 출력하세요.  
실행 예:  
> <pre>--------------------------------------------------------------------------------</pre>

In [ ]:
print('-' * 80)

### 034. 문자열 곱하기  
변수에 다음과 같은 문자열이 바인딩되어 있습니다.  
> t1 = 'python'  
> t2 = 'java'  

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.  
실행 예:  
> python java python java python java python java

In [ ]:
t1 = 'python'
t2 = 'java'
print((t1 + ' ' + t2 + ' ') * 4)

### 035. 문자열 출력  
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 `% formatting`을 사용해서 다음과 같이 출력해보세요.  
> name1 = "김민수"  
> age1 = 10  
> name2 = "이철희"  
> age2 = 13

> 이름: 김민수 나이: 10  
> 이름: 이철희 나이: 13

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s 나이: %d' % (name1, age1))
print('이름: %s 나이: %d' % (name2, age2))

### 036. 문자열 출력  
문자열의 `format( )`메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

### 037. 문자열 출력  
파이썬 3.6부터 지원하는 `f-string`을 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

### 038. 컴마 제거하기  
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.  
> 상장주식수 = "5,969,782,550"

In [ ]:
상장주식수 = "5,969,782,550"
num = int(상장주식수.replace(',', ''))
print(num, type(num))

### 039. 문자열 슬라이싱  
다음과 같은 문자열에서 `'2020/03'`만 출력하세요.  
> 분기 = "2020/03(E) (IFRS연결)"

In [ ]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])
print(분기[:분기.index('(')])

### 040. strip 메서드  
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.  
  
> <pre> data = "   삼성전자    "</pre>

In [ ]:
data = "   삼성전자    "
print(data.strip())

### 041. upper 메서드  
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.  
> ticker = "btc_krw"

In [ ]:
ticker = "btc_krw"
print(ticker.upper())

### 042. lower 메서드  
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요. 
> ticker = "BTC_KRW"

In [ ]:
ticker = "BTC_KRW"
print(ticker.lower())

### 043. capitalize 메서드  
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [ ]:
print('hello'.capitalize())

### 044. endswith 메서드  
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.  
> file_name = "보고서.xlsx"

In [ ]:
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'))

### 045. endswith 메서드  
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.  
> file_name = "보고서.xlsx"

In [ ]:
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx') or file_name.endswith('xls'))
print(file_name.endswith(('xls', 'xlsx')))

### 046. startswith 메서드  
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.  
> file_name = "2020_보고서.xlsx"

In [ ]:
file_name = "2020_보고서.xlsx"
print(file_name.startswith('2020'))

### 047. split 메서드  
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.  
> a = "hello world"

In [ ]:
a = "hello world"
print(a.split(' '))

### 048. split 메서드  
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.  
> ticker = "btc_krw"

In [ ]:
ticker = "btc_krw"
print(ticker.split('_'))

### 049. split 메서드  
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.  
> date = "2020-05-01"

In [ ]:
date = "2020-05-01"
print(date.split('-'))

### 050. rstrip 메서드  
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.  
> <pre>data = "039490     "</pre>

In [ ]:
data = "039490     "
print(data.rstrip())

---
## 051~070. 파이썬 리스트

### 051. 리스트 생성  
2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)  

|순위|영화|
|--|--|
|1|닥터 스트레인지|
|2|스플릿|
|3|럭키|

### 052. 리스트 원소 추가
051의 movie_rank 리스트에 "배트맨"을 추가하라.

### 053. 리스트 원소 추가 
movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.  
> movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

### 054. 리스트 원소 삭제
movie_rank 리스트에서 '럭키'를 삭제하라.  
> movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

### 055. 리스트 원소 삭제
movie_rank 리스트에서 '스플릿' 과 '배트맨'을 삭제하라.  
> movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

### 056. 리스트 원소 결합  
lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.  
> lang1 = ["C", "C++", "JAVA"]  
> lang2 = ["Python", "Go", "C#"]
 
실행 예:  
> langs = ['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

### 057. 리스트 원소 최대, 최소  
다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)  
> nums = [1, 2, 3, 4, 5, 6, 7]  

실행 예:  
> max:  7  
> min:  1

### 058. 리스트 원소 합  
다음 리스트의 합을 출력하라.  
> nums = [1, 2, 3, 4, 5]  

실행 예:
> 15

### 059. 리스트 원소 개수  
다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.  
> cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

### 060. 리스트 원소 평균
다음 리스트의 평균을 출력하라.  
> nums = [1, 2, 3, 4, 5]

실행 예:  
> 3.0

### 061. 리스트 슬라이싱  
price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)  
> price = ['20180728', 100, 130, 140, 150, 160, 170]  

출력 예:
> [100, 130, 140, 150, 160, 170]

### 062. 리스트 슬라이싱  
슬라이싱을 사용해서 홀수만 출력하라.  
> nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

실행 예:  
>  [1, 3, 5, 7, 9]

### 063. 리스트 슬라이싱  
슬라이싱을 사용해서 짝수만 출력하라.  
> nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  

실행 예:
>  [2, 4, 6, 8, 10]

### 064. 리스트 슬라이싱
슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.  
> nums = [1, 2, 3, 4, 5]

실행 예:  
> [5, 4, 3, 2, 1]

### 065. 리스트 슬라이싱  
interest 리스트에는 아래의 데이터가 바인딩되어 있다.
> interest = ['삼성전자', 'LG전자', 'Naver']  
> interest 리스트를 사용하여 아래와 같이 화면에 출력하라.  

출력 예:  
> 삼성전자 Naver

### 066. join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.  
> interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  
> interest 리스트를 사용하여 아래와 같이 화면에 출력하라.  

출력 예:  
> 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

### 067 join 메서드  
interest 리스트에는 아래의 데이터가 바인딩되어 있다.  
> interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  
> interest 리스트를 사용하여 아래와 같이 화면에 출력하라.  

출력 예:  
> 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

### 068. join 메서드  
interest 리스트에는 아래의 데이터가 바인딩되어 있다.  
> interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  

join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.  

출력 예:
> 삼성전자  
> LG전자  
> Naver  
> SK하이닉스  
> 미래에셋대우

### 069. 문자열 split 메서드  
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.  
> string = "삼성전자/LG전자/Naver"  

이를 interest 이름의 리스트로 분리 저장하라.  

실행 예:  
> print(interest)  
> ['삼성전자', 'LG전자', 'Naver']

### 070. 리스트 정렬  
리스트에 있는 값을 오름차순으로 정렬하세요.  
> data = [2, 4, 3, 1, 5, 10, 9]

---
## 071~080. 파이썬 튜플

### 071. 튜플  
my_variable 이름의 비어있는 튜플을 만들라.

### 072. 튜플  
2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)  

|순위|영화|
|--|--|
|1|닥터 스트레인지|
|2|스플릿|
|3|럭키|

### 073. 튜플  
숫자 1 이 저장된 튜플을 생성하라.